:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #757575;
  --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
  --secondary-text-color-theme-light: #212121;
  --accent-color: #2196f3;
}
body {
  font-family: var(--primary-font-family);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* ====== START COMPONENTS ======*/
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-color {
  color: var(--accent-color);
}
/* ====== END COMPONENTS ======*/
/* ====== START HEADER ======*/
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}
.nav-list-active-page {
  color: var(--accent-color);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}
.contact-mail,
.contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
.contact-mail:hover,
.contact-mail:focus,
.contact-tel:hover,
.contact-tel:focus {
  color: var(--accent-color);
}
/* ====== END HEADER ======*/
/* ====== START HERO ======*/
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}
.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);

  background: var(--accent-color);
}
.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
}
/* ====== END HERO ======*/
/* ====== START FEATURES ======*/
.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-light);
}
/* ====== END FEATURES ======*/
/* ====== START TASKS ======*/
.tasks-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}
.features-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
/* ====== END TASKS ======*/
/* ====== START TEAM ======*/
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
/* ====== END TEAM ======*/
/* ====== START FOOTER ======*/
.logo-footer {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}
.address-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-dark);
}
.address-list-address {
  color: var(--primary-text-color-theme-dark);
}
.address-list-link:hover,
.address-list-link:focus {
  color: var(--accent-color);
}
/* ====== END FOOTER ======*/
